<div style="width: 550px; margin-left: 80px;">
  <img src="/images/internships.jpg" style="margin-top: 50px; margin-bottom: 25px; width: 550px"/>
  
  <h2>Compensation</h2>
  <p>
    <b>During their tenure, Summer Interns receive:</b>
    <ul class="internshipslist">
      <li><b>Pay</b>: All internships in the summer program are paid positions.</li>
      <li><b>Perks</b>: Research experience and networking opportunities</li>
    </ul>
  </p>

  <h2>Eligibility</h2>
  <p>
    <b>To be eligible for consideration, applicants must:</b>
    <ul class="internshipslist">
      <li>Be at least 18 years old</li>
      <li>Currently be a student or have just completed their program</li>
      <li>Be able to commit to a three-month program</li>
      <li>Have a strong desire to work in one or two of the departments offered for the internship and express this interest in the application</li>
      <li>Carefully read through the instructions and submit a thoughtfully completed application</li>
    </ul>
  </p>

  <h2>Dates for Application and Internship Cycle</h2>
  <p>
    <b>Please read this information carefully:</b>
    <ul class="internshipslist">
      <li>The 2011 internship will run from June to late August. In special circumstances, these dates can be flexible depending on the needs of the candidate and the researcher they are working with.</li>
      <li>All applicants should submit their completed application by April 15, 2011. <b>No exceptions will be made for late applications.</b> Please click here for application information.</li>
      <li>All applications will go through a preliminary screening process to determine the final candidates. Final candidates will be asked to interview in May. Phone interviews are available.</li>
    </ul>
  </p>
</div>

<div class="nav">
  <ul class="sidenav">
    <li><a href="/positions/internships">SUMMER INTERNSHIPS</a></li>
     <ul class="sidesubnav">
      <li><a href="/positions/about">About Our Program</a></li>
      <li><a href="/positions/alumni">Program Alumni</a></li>
      <li><a href="/positions/apply">Apply</a></li>
      <li><a href="/positions/faq">FAQ</a></li>
     </ul>
    <li><a href="/positions/">POSITIONS</a></li>
  </ul>
</div>


