<div style="width: 550px; margin-left: 80px; padding-top: 50px;">
  <h1>FREQUENTLY ASKED QUESTIONS</h1>

  <p><b>Does NCC offer paid internships?</b><br />
  All internships will be paid internships.</p>

  <p><b>How competitive is the selection process?</b><br />
  Because we receive many applications from highly qualified individuals there is a high level of competition.</p>

  <p><b>How does the selection process work?</b><br />
  If an application is complete, it will be reviewed. A round of candidates will be interviewed in person or over the phone. Some departments will request a second round of interviews. About one month after the application deadline, all applicants will receive a status of their application via e-mail. Usually, the selection process is completed in 4 to 6 weeks.</p>

  <p><b>Does this program offer housing?</b><br />
  Unfortunately we do not offer housing for the Internship Program. If an intern is having difficulty finding housing in Princeton assistance can be provided.</p>

  <p><b>Does NCC offer short–term or part–time internships?</b><br />
  We typically stick to the program dates listed, however exceptions can be made.</p>

  <p><b>Are high–school students eligible to apply for an internships at NCC?</b><br />
  High school students may apply so long as they meet the minimum age requirement of 18.</p>

  <p><b>Will I be able hold a job during the program?</b><br />
  If hired, you would typically be expected to work between 20 to 40 hours a week per week depending on the position. Many former participants have been able to find evening and weekend work in retail establishments, restaurants, and bars in the city.</p>

  <p><b>How do I get all of my documents into one PDF?</b><br />
  Because we are requiring letters of recommendation to be included in the PDF, the best method will be to gather all of your documents and then scan them into one PDF in the order listed. Remember to limit the size of your PDF to 4MB. This can be achieved by not scanning in a high resolution. Please name your PDF with lastname_firstname.pdf (e.g. doe_john.pdf).</p>

  <p><b>If I scan my documents into one PDF, my letters of recommendation will no longer be confidential. Is that OK? How will you know the letters are legitimate?</b><br />
  We do not require confidential, sealed letters of recommendation. You should only request letters of recommendation from individuals who can speak favorably to your talents and abilities and let them know that you will have access to the letter. The letters of recommendation should include contact information for your recommender. We will most often contact recommenders before hiring a candidate for additional information.</p>

  <p><b>What if my letters of recommendation are not available by the deadline?</b><br />
  Incomplete applications will be considered as a lesser priority and therefore it is imperative you seek out your letters of recommendation in enough time to include them in your PDF document. If extenuating circumstances occur, please email us on our CONTACT page but please do not have your recommenders mail in copies of your letters separately; they will not be considered.</p>

  <p><b>What is the absolute latest I can apply?</b><br />
  April 15, 2011</p>

  <p><b>If I am not offered an internship can I apply again?</b><br />
  Yes. Due to the high number of qualified applicants we receive each year we unfortunately cannot take all applicants. If you feel the program would still be beneficial to you, or you have gained a little more experience please re–apply.</p>

  <p><b>I still have questions, what do I do?!</b><br />
  Please visit our CONTACT page to send us an email.</p>
</div>

<div class="nav">
  <ul class="sidenav">
   <li><a href="/positions/internships">SUMMER INTERNSHIPS</a></li>
     <ul class="sidesubnav">
      <li><a href="/positions/about">About Our Program</a></li>
      <li><a href="/positions/alumni">Program Alumni</a></li>
      <li><a href="/positions/apply">Apply</a></li>
      <li><a href="/positions/faq">FAQ</a></li>
     </ul>
    <li><a href="/positions/">POSITIONS</a></li>
  </ul>
</div>

