<div style="width: 620px; margin-left: 90px;">
  <img src="/images/positions.jpg" style="position: relative; left: 80px; margin-top: 50px; margin-bottom: 25px; width: 550px"/>
  
  <p></p>

  <h2>Postdoctoral Fellows</h2>
  <p>Prospective candidates interested in applying to become a Postdoctoral Fellow in our lab can apply <b><a href="https://jobs.princeton.edu/applicants/jsp/shared/search/Search_css.jsp">here</a></b> and search keyword "NCC-LAB" to find more information on currently available positions.</p>
  
  <h2>Graduate Students</h2>
  <p>Prospective graduate students interested in working in our lab should first apply to either to the graduate program in <b><a href="http://www.princeton.edu/neuroscience/education/ph.d.-in-neuroscience/">Neuroscience</a></b> or <b><a href="https://weblamp.princeton.edu/~psych/psychology/grad/main/index.php">Psychology</a></b>.</p>

  <h2>Research Assistants</h2>
  <p>Prospective candidates interested in applying to become a Research Assistant in our lab can apply <b><a href="https://jobs.princeton.edu/applicants/jsp/shared/search/Search_css.jsp">here</a></b> and search keyword "NCC-LAB" to find more information on currently available positions.</p>
  
  <h2>Summer Internships</h2>
  <p>Students interested in participanting in our summer internship program should click <b><a href="/positions/internships">here</a></b> to find out more.</p>
</div>

<!--<div class="nav">
  <ul class="internshipsnav">  
    <li><a href="#postdocs">POSTDOCTORAL FELLOWS</a></li>
    <li><a href="#gradstudents">GRADUATE STUDENTS</a></li>
    <li><a href="#ras">RESEARCH ASSISTANTS</a></li>
    <li><a href="#interns">SUMMER INTERNSHIPS</a></li>
  </ul>
</div>-->
