<div style="width: 550px; margin-left: 80px;">
  <img src="/images/internships.jpg" style="margin-top: 50px; margin-bottom: 25px; width: 550px"/>
  
  <p>We place enormous importance on our internship program since interns represent the future of the field. As an intern you will be actively engaged in research here in our lab, which we believe is the best learning environment. This includes being active in all stages of the research process, e.g. data collection and analysis.</p>
  
  <h2>What Will I be doing as an a Summer Intern?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <h2>How do I apply?</h2>
  <p>To find out more about the details about our program, including eligibility criteria, dates, and applications requirements click <b><a href="/positions/about">here</a></b></p>
</div>

<div class="nav">
  <ul class="sidenav">
    <li><a href="/positions/internships">SUMMER INTERNSHIPS</a></li>
     <ul class="sidesubnav">
      <li><a href="/positions/about">About Our Program</a></li>
      <li><a href="/positions/alumni">Program Alumni</a></li>
      <li><a href="/positions/apply">Apply</a></li>
      <li><a href="/positions/faq">FAQ</a></li>
     </ul>
    <li><a href="/positions/">POSITIONS</a></li>
  </ul>
</div>
