<div id="id2" style="height: 152px; left: 90px; position: absolute; top: 790px; width: 620px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
  <div class="text-content style_External_620_152" style="padding: 0px; ">
    <div class="style_1">
			<% @publications.each do |publication| %>
      	<p style="padding-top: 0pt;" class="paragraph_style_1"><%= publication[:title] %></p>
			<% end %>
    </div>
  </div>
</div>
