@charset "UTF-8";

html, body {
	height: 100%;
	font: 100% Book Antiqua, "Palatino Linotype", Palatino, serif;
	background: none repeat scroll 0 0 #EDEBE7;
	margin: 0; 
	padding: 0;
	text-align: left; 
	color: #584D4D;
	text-decoration: none;
}
h1  {
	font: 200% Book Antiqua, "Palatino Linotype", Palatino, serif;
	font-weight: bold;
	color: #322B2B;
	margin-bottom: 20px;
}
h2 {
	font: 150% Book Antiqua, "Palatino Linotype", Palatino, serif;
	font-weight: bold;
	color: #322B2B;
	margin: 0px;
}
h3 {
	font: 125% Book Antiqua, "Palatino Linotype", Palatino, serif;;
	font-weight: bold;
	color: #584D4D;
	margin-bottom: -10px;
}
a {
    color: #322B2B;
    text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	font: 100% Book Antiqua, "Palatino Linotype", Palatino, serif;
	color: #584D4D;
	margin-top: 0px;
}
.wrap { 
	width: 100%;
	min-height: 100%;
	background: none repeat scroll 0 0 #EDEBE7;
}
.header {
	width: 100%;
	margin: 0 auto;
	text-align: right;
	border-top: 15px solid #1D1919;
}
.container {
	margin:0 auto;
	width:960px;
	min-height: 6em;
	position: relative;
}
.bodycontainer {
	position: relative;
	margin:0 auto;
	width:960px;
	padding-bottom: 120px;
}
.menucontainer {
	left: 60px;
	width: 525px;
	position: absolute;
}
.menu{
	margin: auto;
	padding:0;
	height:10px;
	width:100%;
	display:block;
}
.menu li{
	padding:0;
	margin:0;
	list-style:none;
	display:inline;
}
.menu li a{
	float:left;
	padding-left:15px;
	display:block;
	color: #322B2B;
	text-decoration:none;
	font: 19px Book Antiqua, "Palatino Linotype", Palatino, serif;
	font-style: italic;
	cursor:pointer;
	outline:none;
}
.menu li a span{
	line-height:60px;
	float:left;
	display:block;
	padding-right:15px;
}
.menu li a:hover{
	background-color: #1D1919;
	color: rgb(255,255,255);
}
.menu li a:hover span{
	background-color: #1D1919;
}
.menu li a.active, .menu li a.active:hover{
	line-height:60px;
	font: 19px Book Antiqua, "Palatino Linotype", Palatino, serif;
	background-color: #1D1919;
	color: rgb(255,255,255);
}
.menu li a.active span, .menu li a.active:hover span{
	background-color: #1D1919;
	font-style: italic;
}

.titlebox {
	position: absolute;
	margin-top: 5px;
	right: 60px;
}
.title {
	font: 4.5em Book Antiqua, "Palatino Linotype", Palatino, serif;
	color: #322B2B;
}
.title:hover {
	font: 4.5em Book Antiqua, "Palatino Linotype", Palatino, serif;
	color: #CC6600;
	text-decoration: none;
}
.subtitle{
	font: 0.8em "Raleway", Book Antiqua, "Palatino Linotype", Palatino, serif;
	color: #322B2B;
	position: absolute;
	top: 80px;
	right: 60px;
}
.slider{
	width: 620px;
	padding-top: 50px;
	margin: auto;
}
.welcomebox {
	margin: 40px auto 0px auto;
	width: 620px;
}
.welcome {
	font: 2em "Rock Salt", Book Antiqua, "Palatino Linotype", Palatino, serif;
	color: #584D4D;
}
.welcomeinfobox{
	margin: 0px auto 50px auto;
	width: 620px;
}
.footer {
	position: relative;
	width: 100%;
	margin-top: -80px;
	height: 80px;
	clear:both;
}
.footerwrap {
	width: 100%;
	min-height: 100%;
	border-bottom: 15px solid #1D1919;
}
.footercontainer {
	position: relative;
	width: 960px;
	margin: 0 auto;
	font-size: 14px;
	border-top: 1px dotted #322B2B;
}
.footerlink{
	text-align: center;
	color: #584D4D;
	font: 1em Book Antiqua, "Palatino Linotype", Palatino, serif;
}
.footerlink:hover{
	color:#CC6600;
	font: 1em Book Antiqua, "Palatino Linotype", Palatino, serif;
	text-decoration: none
}
.personbox {
  height: 187px;
  width: 100px;
  margin-bottom: 10px;
}
.personbox:hover {
  background-color: rgb(215, 150, 91);
  height: 187px;
  width: 100px;
}
.infobox {
  float: left;
}
.publication {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.publication a {
  color:#CC6600;
}
.bodycontent {
  text-align: left;
  width: 600px;
  margin-left: 200px;
}
.internshipslist
{
  margin-bottom: 20px;
  margin-left: 10px;
  list-style: square;
}
.sidenav {
  font: 1em Book Antiqua, "Palatino Linotype", Palatino, serif;
  color: #322B2B;
  border-left: 4px solid #322B2B;
  list-style-type: none;
  padding-left: 10px;
  line-height: 200%;
  font-weight: bold;
  width: 300px;
}
.sidenav a:hover {
  text-decoration: underline;
}
.sidesubnav a {
  font: 0.95em Book Antiqua, "Palatino Linotype", Palatino, serif;
  list-style-type: none;
  color: #322B2B;
  line-height: 200%;
  font-weight: normal;
}
.sidesubnav li {
  list-style-type: none;
}
sidesubnav a:hover {
  font: 0.95em Book Antiqua, "Palatino Linotype", Palatino, serif;
  text-decoration: underline;
  line-height: 200%;
}
.publicationsheader {
  border-bottom: 1px solid black;
  padding-left: 8px;
}
.nav {
  position: absolute;
  top: 50px;
  left: 650px;
  width: 300px;
}
.positionpage {
	position: relative;
	width: 550px;
	margin-bottom: -100px;
}
.personname {
	font: 125% Book Antiqua, "Palatino Linotype", Palatino, serif;
	font-weight: bold;
	color: #322B2B;
}
.personname:hover {
	font: 125% Book Antiqua, "Palatino Linotype", Palatino, serif;
	font-weight: bold;
	text-decoration: underline;
	color: #322B2B;
}
.personinfo {
	position: relative;
	bottom: 165px;
	left: 150px;
	width: 400px;
} 
.personimage {
	position: relative;
}
.tooltip {
	color: #322B2B; 
	outline: none;
	cursor: pointer; 
	text-decoration: none;
	position: relative;
}
.tooltip span {
	margin-left: -999em;
	position: absolute;
	text-decoration: none;
}
.tooltip:hover span {
	border-radius: 5px 5px; 
	moz-border-radius: 5px; 
	webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
	moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font: 0.85em Book Antiqua, "Palatino Linotype", Palatino, serif;
	color: #322B2B;
	text-decoration: none;
	position: absolute; 
	left: 10em; 
	top: -2em; 
	z-index: 99;
	margin-left: 0; 
	width: 270px;
}
.classic { 
	padding: 1em 0.5em; 
	text-decoration: none;
}
.custom { 
	padding: 0.5em 0.8em 0.8em 2em;
}
* html a:hover { 
	background: transparent;
}
.classic {
	background: #EDEBE7; 
	border: 2px solid #322B2B; 
}

