<div class="slider">
  <div id="showcase" class="showcase">
    <div>
      <img src="/images/researchtemp.jpg" alt="01" />
      <div class="showcase-thumbnail">
        <img src="/images/publicationstemp.jpg" alt="01" width="140px" />
        <div class="showcase-thumbnail-cover"></div>
      </div>
      <div class="showcase-caption">
        <a href="/research"><h2>Research</h2></a>
      </div>
    </div>
  <div>
    <img src="/images/peopletemp.jpg" alt="02" />
    <div class="showcase-thumbnail">
      <img src="/images/publicationstemp.jpg" alt="01" width="140px" />
      <div class="showcase-thumbnail-cover"></div>
    </div>
    <div class="showcase-caption">
      <a href="/people"><h2>People</h2></a>
 	  </div>
  </div>
  <div>
    <img src="/images/publicationstemp.jpg" alt="03" />
    <div class="showcase-thumbnail">
      <img src="/images/publicationstemp.jpg" alt="01" width="140px" />
      <div class="showcase-thumbnail-cover"></div>
    </div>
    <div class="showcase-caption">
      <a href="/publications"><h2>Publications</h2></a>
    </div>
  </div>
  <div>
    <img src="/images/interntemp.jpg" alt="03" />
    <div class="showcase-thumbnail">
      <img src="/images/publicationstemp.jpg" alt="01" width="140px" />
      <div class="showcase-thumbnail-cover"></div>
    </div>
    <div class="showcase-caption">
      <a href="/internships"><h2>Internships</h2></a>
    </div>
  </div>
</div>

<div class="welcome">
  <h1>WELCOME</h1>
</div>

<div class="info">
  <p>
    Research in our lab focuses on the neurobiological mechanisms underlying
    cognitive control and evaluative behavior in a variety of domains (e.g.
    affective, social, economic). Our empirical studies make use of standard
    experimental methods from cognitive psychology, both alone, and in
    combination with non-invasive functional neuroimaging. Neuroimaging
    techniques include functional magnetic resonance imaging (fMRI), and scalp
    electrophysiology (EEG/ERP).
  </p>
</div>
