<div style="height: 0px; line-height: 0px; " class="bumper"> </div>
<div id="id1" style="height: 56px; left: 90px; position: absolute; top: 740px; width: 620px; z-index: 1; " class="style_SkipStroke shape-with-text">
  <div class="text-content style_External_620_56" style="padding: 0px; ">
    <div class="style">
      <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style">WELCOME</p>
    </div>
  </div>
</div>

<div class="com-region" id="widget0" style="height: 421px; left: 40px; opacity: 1.00; position: absolute; top: 249px; width: 719px; z-index: 1; ">
	<script type="text/javascript"><!--//--><![CDATA[//><!--
    var widget0_htmlMarkupURL = "/ncc_files/widget0_markup.html";
//--><!]]></script>
	<div id="widget0-htmlRegion" class="region"></div>
</div>

<div id="id2" style="height: 152px; left: 90px; position: absolute; top: 790px; width: 620px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
  <div class="text-content style_External_620_152" style="padding: 0px; ">
    <div class="style_1">
      <p style="padding-top: 0pt;" class="paragraph_style_1">Research in our lab focuses on the neurobiological mechanisms underlying cognitive control and evaluative behavior in a variety of domains (e.g., affective, social, economic).</p>
      <p style="padding-bottom: 0pt;" class="paragraph_style_1">Our empirical studies make use of standard experimental methods from cognitive psychology, both alone, and in combination with non-invasive functional neuroimaging. Neuroimaging techniques include functional magnetic resonance imaging (fMRI), and scalp electrophysiology (EEG/ERP).</p>
    </div>
  </div>
</div>
