<div class="slider">
  <div id="showcase" class="showcase">
    <div>
      <img src="/images/people.png" alt="People" />
      <div class="showcase-caption">
       <a href="/people" style="text-decoration: none;"><span class="captionheader">Meet us</span></a>
      </div>
    </div>
   <div>
    <img src="/images/researchhome.png" alt="Research" />
    <div class="showcase-caption">
      <a href="/research" style="text-decoration: none;"><span class="captionheader">Learn more</span></a>
 	</div>
   </div>
  <div>
    <img src="/images/publications.png" alt="Publications" />
    <div class="showcase-caption">
      <a href="/publications" style="text-decoration: none;"><span class="captionheader">Browse</span></a>
    </div>
  </div>
  <div>
    <img src="/images/positions.png" alt="Positions" />
    <div class="showcase-caption">
      <a href="/positions" style="text-decoration: none;"><span class="captionheader">Learn more</span></a>
    </div>
   </div>
  </div>
</div>

<div class="welcomebox">
  <span class="welcome">Welcome</span>
</div>

<div class="welcomeinfobox">
    <span>Research in our lab focuses on the neurobiological mechanisms underlying
    cognitive control and evaluative behavior in a variety of domains (e.g.
    affective, social, economic). Our empirical studies make use of standard
    experimental methods from cognitive psychology, both alone, and in
    combination with non-invasive functional neuroimaging. Neuroimaging
    techniques include functional magnetic resonance imaging (fMRI), and scalp
    electrophysiology (EEG/ERP).</span>
</div>
