<p class="internships">We place enormous importance on our internship program since interns represent the future of the field. As an intern you will be actively engaged in research here in our lab, which we believe is the best learning environment. This includes being active in all stages of the research process, e.g. data collection and analysis.</p>

<h1>Compensation</h1>
<p class="internships">
  <b>During their tenure, Summer Interns receive:</b>
  <ul class="internships">
    <li><b>Pay</b>: All internships in the summer program are paid positions.</li>
    <li><b>Perks</b>: Research experience and networking opportunities</li>
  </ul>
</p>

<h1>Eligibility</h1>
<p class="internships">
  <b>To be eligible for consideration, applicants must:</b>
  <ul class="internships">
    <li>Be at least 18 years old</li>
    <li>Currently be a student or have just completed their program</li>
    <li>Be able to commit to a three-month program</li>
    <li>Have a strong desire to work in one or two of the departments offered for the internship and express this interest in the application</li>
    <li>Carefully read through the instructions and submit a thoughtfully completed application</li>
  </ul>
</p>

<h1>Dates for Application and Internship Cycle</h1>
<p class="internships">
  <b>Please read this information carefully:</b>
  <ul class="internships">
    <li>The 2011 internship will run from June to late August. In special circumstances, these dates can be flexible depending on the needs of the candidate and the researcher they are working with.</li>
    <li>All applicants should submit their completed application by April 15, 2011. <b>No exceptions will be made for late applications.</b> Please click here for application information.</li>
    <li>All applications will go through a preliminary screening process to determine the final candidates. Final candidates will be asked to interview in May. Phone interviews are available.</li>
  </ul>
</p>
