<div style="float: left; width: 500px;">
  <p>About</p>
</div>

<div class="nav">
  <ul class="internshipsnav">
    <li><a href="/internships/about">About Our Program</a></li>
    <li><a href="/internships/alumni">Program Alumni</a></li>
    <li><a href="/internships/apply">Apply</a></li>
    <li><a href="/internships/faq">FAQ</a></li>
  </ul>
</div>
