<div style="float: left; width: 500px;">
  <h1>APPLICATION TIMELINE</h1>

  <p>2011 Summer Internship: February 15, 2011- April 15, 2011</p>

  <p>If you would like to begin preparing your application now, please organize the following materials, to be submitted in ONE SINGLE PDF and downloaded on the online application page.</p>

  <h2>APPLICATION MATERIALS:</h2>

  <p>A cover letter</p>

  <p>A Resume or Curriculum Vitae</p>

  <p>Two letters of recommendation from professors, teachers or supervisors. These letters should specify:</p>
  <ul>
    <li>The recommenders relationship to you</li>
    <li>Why you have been a valuable student, epmloyee or volunteer</li>
    <li>Any research or office experience you have relevant to the position to which you are applying</li>
    <li>Anything else the recommender feels we should know about you</li>
    <li>The letters of recommendation should include contact information for your recommender</li>
  </ul>
  <p>Personal Statement which discusses the following:</p>
    <li>Your long term professional goals (as much as you know them at this point)</li>
    <li>How you feel you will be benefited by the program</li>
    <li>Any unique contribution you will bring</li>
  </ul>
</div>

<div class="nav">
  <ul class="internshipsnav">
    <li><a href="/internships/about">About Our Program</a></li>
    <li><a href="/internships/alumni">Program Alumni</a></li>
    <li><a href="/internships/apply">Apply</a></li>
    <li><a href="/internships/faq">FAQ</a></li>
  </ul>
</div>
