<div>
 <h1 style="margin-left: 80px;">CONTACT US</h1>
 <!--<script src="http://www.jotform.com/jsform/2513343148"></script>-->
 <span style="margin-left: 80px; font: 150% Book Antiqua, serif; font-weight:bold;">NCC LAB</span><br />
	<p style="padding-top: 15px;">Green Hall<br /> 
	Princeton University<br />
	Princeton, NJ 08542<br />
	609.258.1728<br />
	nccadm@princeton.edu</p><br />
	<p>For individual contacts see our <b><a href="/people">People</a></b> page</p>
</div>
