<div style="float: left; width: 500px;">
  <img src="/images/research.png" style="margin-top: 25px; margin-bottom: 25px;"/>
  
  <h2>Our Research</h2>
  <p>Our research focuses on the neurobiological mechanisms underlying cognitive control. We define cognitive control as the ability to flexibly adapt behavior to current demands, by promoting task-relevant information and behaviors over temporally-extended periods and in the face of interference or competition. This ability is central to most higher cognitive functions, and contributes to the unique character of human behavior. Our goals are to define the neural mechanisms that underlie cognitive control, to understand how these govern behavior, and to use this knowledge to improve our understanding of the relationship between brain and behavior in psychiatric disorders.</p>

  <h2>Neuronal Mechanisms for Decision Optimization</h2>
  <p>Decision making is a frequent element of life of animals and humans. The accuracy and speed of the decisions may be crucially important for survival. Therefore, evolutionary pressure promotes animals making optimal decisions, and hence it is plausible that decision networks in the brain have parameters resulting in the optimal performance. Our research focuses on mathematical analysis of neural network models of decision processes in the brain. We ask what neuronal networks and what values of their parameters allows making decisions with the maximum accuracy and in the shortest time. We seek the network architecture allowing optimal decisions, and the optimal values of parameters such as: decision threshold, neuronal gain, and decision bias.</p>

  <h2>Executive Control</h2>
  <p>Executive control refers to our ability to maintain and update abstract goals that guide our behavior at a more concrete level. In a sense, executive control refers to the most abstract goal that binds together concrete sub-goals. Inability to do so has severe consequences for simple every-day behavior, consequences which include distractibility and perseverance. The interplay of these two factors is the focus of our research. We are interested in mapping out processes that underlie efficient reconfiguration of goals (i.e., 'task-sets') when we change the focus of our attention. Of particular relevance to this issue is the task-switching paradigm, which calls on the basic components of executive control (as defined above), maintenance of the relevant task-set and updating to a novel task-set on a switch trial. We are using this paradigm to investigate how, and at what conceptual level, information from the last task is maintained - and how it affects the upcoming trial. We are investigating both behavior and brain activity (fMRI). In conjunction we use connectionist models to simulate the process of interest - to fit data and theory - and to generate empirical predictions.</p>

  <h2>Neuroeconomics</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="nav">
  <ul class="researchnav">
    <li><a href="/research/">Theoretical Interests</a></li>
    <li><a href="/research/models">Modeling</a></li>
    <li><a href="/research/methods">Empirical Methods</a></li>
  </ul>
</div>
