<div style="width: 550px; margin-left: 80px;">

  <h2 id="introheader" style="font-size: 1.2em; padding-bottom: 15px;">Cognitive Control</h2>
  <p id="intro">Research in our lab focuses on the neurobiological mechanisms underlying cognitive control. Cognitive control is the ability to guide attention, thought and action in accord with goals or intentions. One of the fundamental mysteries of neuroscience is how this capacity for coordinated, purposeful behavior arises from the distributed activity of many billions of neurons in the brain. To learn more, click on one of the topics below.</p>

  <!--<img src="/images/research.png" style="padding-top: 50px; margin-bottom: 25px; width: 550px"/>-->

  <h2 id="currentheader" style="font-size: 1.2em; padding-bottom: 15px;">Current Areas of Research</h2>

  <ul id="currentresearch">
    <li style="padding-bottom: 20px;">
      <b>Intro - Different Types and Levels of Cognitive Control (JDC)</b>: [COMING SOON]
    </li>
    <li style="padding-bottom: 20px;">
      <b>Optimization of Simple Forms of Decision-Making (JDC)</b>: [COMING SOON]
    </li>
    <li style="padding-bottom: 20px;">
      <b>Explore-Exploit</b>: Every organism faces conflicting motives: it must try to acquire both rewards and information from its environment. To maximize reward, organisms should <i>exploit</i> familiar options that have been highly rewarding in the past. To maximize information, organisms should <i>explore</i> unfamiliar options whose rates of reward are unfamiliar. Because these two motives conflict, organisms must trade-off exploration and exploitation. Recently our lab has focused on understanding how humans balance these conflicting motives using behavioral and neuroimaging studies along with mathematical and computational modeling. Our work is inspired by Adaptive Gain Theory, which hypothesizes that the locus coeruleus can induce exploration by modulating levels of norepinephrine in the brain.
    </li>
    <li style="padding-bottom: 20px;">
      <b>Self-Regulation</b>: Control can take on the form of selectively attending some stimuli vs. others or holding a certain number of digits in memory, but control can also mean actively resisting a tempting stimulus (e.g., cake) because of a competing goal (e.g., trying to limit calorie intake). Interestingly, our ability to engage either of these types of control diminishes over time, in an apparently domain-general manner (i.e., exerting more cognitive control can make self-control harder, and vice versa). Our lab has examined each of these domains of control separately, and we have recently begun to examine the intersection between them, particularly with respect to the costs each one incurs. To do this, we build on models from cognitive neuroscience (including on our Guided Activation and Conflict Monitoring theories), economics, and dynamical systems theory.
    </li>
  </ul>

  <h2 id="theoreticalheader" style="font-size: 1.2em; padding-bottom: 15px;">Theoretical Contributions</h2>
  <ul id="theoreticalcontributions">
    <li style="padding-bottom: 20px;"><b>Guided Activation Theory (JDC)</b>: [COMING SOON]</li>
    <li style="padding-bottom: 20px;"><b>Gating (JDC)</b>: [COMING SOON]</li>
    <li style="padding-bottom: 20px;">
      <b>Adaptive Gain Theory</b>: The locus coerulus (LC) is a brain stem nucleus consisting of just 10,000 neurons.  Despite its small size, activity in LC can have a large effect on cortical processing due to its wide ranging projections. In awake animals, LC neurons display at least two distinct modes of behavior: (1) a tonic mode in which neurons fire continually at a modest level unrelated to the animal’s behavior or external stimuli and (2) a phasic mode in which neurons occasionally fire in short intense bursts that are time locked to the animal’s behavior. Adaptive Gain Theory (AGT) proposes that LC is used to modulate the explore-exploit tradeoff in the brain. Due to the neuromodulatory effects of NE, increases in tonic LC activity increase neural gain indiscriminately throughout the brain. This has the effect of magnifying the effects of neuronal noise on decision processes, which increases the chance of the system making a random, or exploratory, choice. Phasic LC activity is thought to facilitate exploitation by increasing gain transiently at critical moments to facilitate performance of the current task.
    </li>
    <li style="padding-bottom: 20px;">
      <b>Conflict Monitoring</b>: How does a cognitive controller know that it's services are needed in greater supply, as when the word RED appears in green and our job is to name the color rather than the word? Our conflict monitoring theory suggests that one natural source of information about the current demand for control may come from knowing the overall level of competition between potential responses (e.g., how much "say red" and "say green" are currently in conflict). We have shown that models of response conflict explain patterns of reaction times for incongruent trial cues on a cognitive task (e.g., word red, color green) as well as increases in control on the subsequent trial. We have also used EEG and fMRI to show that the anterior cingulate cortex plays a central role in signaling conflict that the lateral prefrontal cortex then helps to resolve.
    </li>
  </ul>

  <h2 id="methodsheader" style="font-size: 1.2em; padding-bottom: 15px;">Methods</h2>
  <ul id="methods">
    <li style="padding-bottom: 20px;"><b>Methods and Approaches</b>: Our lab uses a mixture of behavioral and neuroimaging methods, including functional magnetic resonance imaging (fMRI), scalp electrophysiology (EEG) and pupillometry (eye-tracking). We have been involved in the development of novel methods for the analysis of fMRI data, including the application of machine learning classification algorithms to fMRI data (a technique called multi-voxel pattern analysis or MVPA). In addition, our ongoing collaborations with neurophysiologists provide us with the ability to analyze data from direct neuronal recordings in awake behaving animals and detailed anatomic studies.</li>
  </ul>

</div>

<!--<div class="nav">
  <ul class="sidenav">
    <li><a href="/research/">TOPICS OF INTERESTS</a></li>
    <li><a href="/research/models">THEORETICAL CONTRIBUTIONS</a></li>
    <li><a href="/research/methods">METHODS</a></li>
  </ul>
</div>-->

<script>
    $(document).ready(function () {
        $("#currentresearch").show(0);
        $("#currentresearch").hide(0);
        $("#theoreticalcontributions").hide(0);
        $("#methods").hide(0);
      });

    $("#introheader").click(function () {
      if ($("#intro").is(":visible"))
      {
        $("#intro").show("fast");
        $("#currentresearch").hide(0);
        $("#theoreticalcontributions").hide(0);
        $("#methods").hide(0);
      }
      else
      {
        $("#intro").show("fast");
        $("#currentresearch").hide(0);
        $("#theoreticalcontributions").hide(0);
        $("#methods").hide(0);
      }});

    $("#currentheader").click(function () {
      if ($("#currentresearch").is(":visible"))
      {
        $("#intro").show("fast");
        $("#currentresearch").hide("fast");
        $("#theoreticalcontributions").hide("fast");
        $("#methods").hide("fast");
      }
      else
      {
        $("#intro").hide("fast");
        $("#currentresearch").show("fast");
        $("#theoreticalcontributions").hide("fast");
        $("#methods").hide("fast");
      }});

    $("#theoreticalheader").click(function () {
      if ($("#theoreticalcontributions").is(":visible"))
      {
        $("#intro").show("fast");
        $("#currentresearch").hide("fast");
        $("#theoreticalcontributions").hide("fast");
        $("#methods").hide("fast");

      }
      else
      {
        $("#intro").hide("fast");
        $("#currentresearch").hide("fast");
        $("#theoreticalcontributions").show("fast");
        $("#methods").hide("fast");

      }});

    $("#methodsheader").click(function () {
      if ($("#methods").is(":visible"))
      {
        $("#intro").show("fast");
        $("#currentresearch").hide("fast");
        $("#theoreticalcontributions").hide("fast");
        $("#methods").hide("fast");
      }
      else
      {
        $("#intro").hide("fast");
        $("#currentresearch").hide("fast");
        $("#theoreticalcontributions").hide("fast");
        $("#methods").show("fast");
      }});
</script>
