<div style="width: 550px; margin-left: 80px;">
  <!--<img src="/images/methods.jpg" style="padding-top: 50px; margin-bottom: 25px; width: 550px"/>-->
  <p>Our lab uses a mixture of behavioral and neuroimaging methods, including functional magnetic resonance imaging (fMRI), scalp electrophysiology (EEG) and pupillometry (eye-tracking). We have been involved in the development of novel methods for the analysis of fMRI data, including the application of machine learning classification algorithms to fMRI data (a technique called multi-voxel pattern analysis or MVPA). In addition, our ongoing collaborations with neurophysiologists provide us with the ability to analyze data from direct neuronal recordings in awake behaving animals and detailed anatomic studies.</p>
</div>

<div class="nav">
  <ul class="sidenav">
    <li><a href="/research/">TOPICS OF INTERESTS</a></li>
    <li><a href="/research/models">THEORETICAL CONTRIBUTIONS</a></li>
    <li><a href="/research/methods">METHODS</a></li>
  </ul>
</div>
