<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
	  <%= stylesheet_link_tag :all %>
	  <%= javascript_include_tag :defaults %>
	  <%= csrf_meta_tag %>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />		
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="viewport" content="width=800" />
    <title>Neuroscience of Cognitive Control Laboratory</title>
    <link rel="stylesheet" type="text/css" media="screen,print" href="/ncc_files/ncc.css" />
    <!--[if lt IE 8]><link rel='stylesheet' type='text/css' media='screen,print' href='ncc_files/nccIE.css'/><![endif]-->
    <!--[if gte IE 8]><link rel='stylesheet' type='text/css' media='screen,print' href='Media/IE8.css'/><![endif]-->
    <!--<style type="text/css">
/*<![CDATA[*/
	@import "scripts/region/paste.css";
/*]]>*/
</style>-->
    <script type="text/javascript" src="/ncc_files/site.js"></script>
    <script type="text/javascript" src="/ncc_files/image.js"></script>
    <script type="text/javascript" src="/ncc_files/grid.js"></script>
    <script type="text/javascript" src="/ncc_files/common.js"></script>
    <script type="text/javascript" src="/ncc_files/region/paste.js"></script>
    <script type="text/javascript" src="/ncc_files/ncc.js"></script>
  </head>
  <body style="background: rgb(255, 255, 255) url(/ncc_files/test.jpg) repeat scroll top left; margin: 0pt; " onload="onPageLoad();" onunload="onPageUnload();">
    <div style="text-align: center; ">
      <div style="margin-bottom: 0px; margin-left: auto; margin-right: auto; margin-top: 0px; overflow: hidden; position: relative; word-wrap: break-word;  background: transparent; text-align: left; width: 800px; " id="body_content">
        <div style="float: left; margin-left: 0px; position: relative; width: 800px; z-index: 0; " id="nav_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
          <div style="clear: both; height: 0px; line-height: 0px; " class="spacer"> </div>
        </div>
        <div style="float: left; height: 0px; line-height: 0px; margin-left: 0px; position: relative; width: 800px; z-index: 10; " id="header_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
        </div>
        <div style="margin-left: 0px; position: relative; width: 800px; z-index: 5; " id="body_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
          <div id="id1" style="height: 56px; left: 90px; position: absolute; top: 740px; width: 620px; z-index: 1; " class="style_SkipStroke shape-with-text">
            <div class="text-content style_External_620_56" style="padding: 0px; ">
              <div class="style">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style">WELCOME</p>
              </div>
            </div>
          </div>
          
					<%= yield %>

          <div id="id3" style="height: 47px; left: 86px; position: absolute; top: 997px; width: 628px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
            <div class="text-content style_External_628_47" style="padding: 0px; ">
              <div class="style_1">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_2"><a class="class1" href="http://www.princeton.edu/main/" title="http://www.princeton.edu/main/">Princeton University</a> | <a class="class2" href="http://www.princeton.edu/neuroscience/" title="http://www.princeton.edu/neuroscience/">Princeton N<span>euroscience</span> Institute</a> | <a class="class3" href="https://weblamp.princeton.edu/~psych/psychology/home/index.php" title="https://weblamp.princeton.edu/~psych/psychology/home/index.php">D<span>epartment</span> of Psychology</a> </p>
              </div>
            </div>
          </div>
					          <script type="text/javascript"><!--//--><![CDATA[//><!--
					new Paste('widget0', 'scripts/region', 'scripts/', '.', {"emptyLook": false});
					//--><!]]></script>
					          <div class="tinyText" style="height: 88px; left: 505px; position: absolute; top: 40px; width: 298px; z-index: 1; ">
					            <img usemap="#map1" id="shapeimage_1" src="/ncc_files/shapeimage_1.png" style="border: none; height: 236px; left: -39px; position: absolute; top: -39px; width: 376px; z-index: 1; " alt="NCC LAB" title="" /><map name="map1" id="map1"></map>
					          </div>

          <div id="id4" style="height: 57px; left: 505px; position: absolute; top: 115px; width: 298px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_298_57" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-bottom: 0pt; padding-top: 0pt; " class="paragraph_style_3">Neuroscience of Cognitive Control Laboratory</p>
              </div>
            </div>
          </div>
          <div class="com-region" id="widget1" style="height: 90px; left: 5px; opacity: 1.00; position: absolute; top: 61px; width: 499px; z-index: 1; ">
            <script type="text/javascript"><!--//--><![CDATA[//><!--
    var widget1_htmlMarkupURL = "/ncc_files/widget1_markup.html";
//--><!]]></script>
            <div id="widget1-htmlRegion" class="region"></div>
          </div>
          <script type="text/javascript"><!--//--><![CDATA[//><!--
new Paste('widget1', 'scripts/region', 'scripts/', '.', {"emptyLook": false});
//--><!]]></script>
          <div style="height: 1044px; line-height: 1044px; " class="spacer"> </div>
        </div>
        <div style="height: 0px; line-height: 0px; margin-left: 0px; position: relative; width: 800px; z-index: 15; " id="footer_layer">
          <div style="height: 0px; line-height: 0px; " class="bumper"> </div>
        </div>
      </div>
    </div>
  </body>
</html>
