<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Neuroscience of Cognitive Control Laboratory</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/ncclab.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.aw-showcase.css" />
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway:100'  />
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Rock+Salt' />
	<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.aw-showcase.min.js"></script>
    
  	<script type="text/javascript">
	 $(document).ready(function()
	 {
		$("#showcase").awShowcase(
	 {
		width:					620,
		height:					315,
		auto:					true,
		interval:				6000,
		continuous:				true,
		loading:				true,
		arrows:					false,
		buttons:				true,
		btn_numbers:			false,
		keybord_keys:			true,
		mousetrace:				false,
		pauseonover:			true,
		transition:				'vslide', 
		transition_speed:		500,
		show_caption:			'onload', 
		thumbnails:				false,
		thumbnails_position:	'outside-last', 
		thumbnails_direction:	'horizontal', 
		thumbnails_slidex:		0 
		});
	 });
  	</script>
 </head>

<body>
<div class="wrap">
  <div class="header">
  <div class="container">
   <div class="menucontainer">
    <ul class="menu">
	 <li>
		<% if controller.class.to_s == "ResearchController" %>
			<a href="/research" class="active"><span>Research</span></a>
	 	<% else %>
	 		<a href="/research"><span>Research</span></a>
	 	<% end %>
	 </li>
	 <li>
		<% if controller.class.to_s == "PeopleController" %>
			<a href="/people" class="active"><span>People</span></a>
	 	<% else %>
	 		<a href="/people"><span>People</span></a>
	 	<% end %>
	 </li>
	 <li>
		<% if controller.class.to_s == "PublicationsController" %>
			<a href="/publications" class="active"><span>Publications</span></a>
	 	<% else %>
	 		<a href="/publications"><span>Publications</span></a>
	 	<% end %>
	 </li>
	 <li>
		<% if controller.class.to_s == "PositionsController" %>
			<a href="/positions" class="active"><span>Positions</span></a>
	 	<% else %>
	 		<a href="/positions"><span>Positions</span></a>
	 	<% end %>
	 </li>
	 <li>
	 	<% if controller.class.to_s == "ContactController" %>
			<a href="/contact" class="active"><span>Contact</span></a>
		<% else %>
			<a href="/contact"><span>Contact</span></a>
		<% end %>
	 </li>
	</ul>
   </div>
   <div class="titlebox">
   <a href="/home" class="title">NCC LAB</a>
   </div>
   <div class="subtitle">
   Neuroscience of Cognitive Control Laboratory
   </div>
  </div>
  </div>
 <div class="bodycontainer">
    <%= yield %>
 </div>
</div>

<div class="footer">
 <div class="footerwrap">
  <div class="footercontainer">
    <div style="float: left; padding-left: 10px; padding-top: 10px;">
    <a href="http://www.princeton.edu/main/" class="footerlink">Princeton University</a><br />
    <a href="http://www.princeton.edu/neuroscience/" class="footerlink">Princeton Neuroscience Institute</a><br />
    <a href="http://psych.princeton.edu/" class="footerlink">Department of Psychology</a>
    </div>
    <div style="float: left; padding-left: 95px; padding-top: 10px;">
    <br />
    <a href="/home" class="footerlink">Home</a> | <a href="/research" class="footerlink" >Research</a> | <a href="/people" class="footerlink" >People</a> | <a href="/publications" class="footerlink" >Publications</a> | <a href="/positions" class="footerlink" >Positions</a> | <a href="/contact" class="footerlink" >Contact</a>
    </div>
    <div style="float: right; padding-right: 10px; padding-top: 24px;">
    <span style="font:2.5em 'Raleway', Helvetica, sans-serif;">NCC LAB</span>
    </div>
   </div>
  </div>
</div>
</body>
</html>
